.ProductDemo {
    text-align: center;
    height: 95vh;
}

.ProductDemo-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .ProductDemo-logo {
        animation: ProductDemo-logo-spin infinite 20s linear;
    }
}

.ProductDemo-header {
    background-color: #0c2f1a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ProductDemo-link {
    color: #61dafb;
}

@keyframes ProductDemo-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}